#graphic{
    background-color: #060606;
    box-shadow:  0 50px 50px 0 #84acce;
    border-radius: 4px;
    padding: 60px;
    width: 90%;
    height: 500px;
    text-align: center;
}

#landing-pic {
    border-radius: 4px;
    padding: 18px;
    width: 0%;
    height: 0%;
  }


