.browse-section {
    padding: 20px;
    text-align: center; 
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.filter-label {
    flex: 0 0 100px; 
    font-weight: bold;
    color: #fff;
}

#thumbnail__container {
    margin: 20px
}

.filter-select,
.filter-input {
    flex: 1;
    padding: 8px;
    border: 2px solid #754043;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    background-color: #754043;
}

.movies-heading,
.browse-text {
    color: bisque;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: 20px;
}
