#nav__container{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}

nav{
    background-color: #9A8873;
    margin: 30px;
    border-radius: 100%;
    border: 5px solid #3a2618;
    border-width: 5px;
    width: 30%;
}